<div class="row-fluid" ms-controller="moduleparent">
  <!--表格-->
  <div class="portlet box blue" >
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-edit">
        </i>
        {{title}}
      </div>
      <div class="tools">
      </div>
    </div>
    <div class="portlet-body">
      
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>
              页面名称
            </th>
            <th>
              管理
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="" style="max-height:100px;">
            <td style="max-width:200px;">
              关于我们
            </td>
            <td>
              <a class="btn mini blue" href="#!/module/关于我们">
                查看此页面模块
              </a>
            </td>
          </tr>
          
            <tr class="" style="max-height:100px;">
            <td style="max-width:200px;">
              成员公司
            </td>
            <td>
              <a class="btn mini blue" href="#!/module/成员公司">
                查看此页面模块
              </a>
            </td>
            </tr>
              <tr class="" style="max-height:100px;">
            <td style="max-width:200px;">
              联系我们
            </td>
            <td>
              <a class="btn mini blue" href="#!/module/联系我们">
                查看此页面模块
              </a>
            </td>
            
          </tr>
        </tbody>
      </table>
    
    </div>

  </div>

</div>
